
<nav class="navbar px-4 py-4 has-shadow is-primary">

  <div class="navbar-brand">
    <a class="navbar-item nav-link" [class.active]="strUrl=='/home'||strUrl=='/'" aria-current="page">
        <h1 class="title is-uppercase is-size-1 pl-4">BAB</h1>
    </a>
    
</div>
<div class=" px-4 py-4 navbar-end">
  <a href="#" class="navbar-item has-text-weight-bold has-text-light is-size-4">HOME</a>
  <a href="#" class="navbar-item has-text-weight-bold has-text-light is-size-4">PROYECTOS</a>
  <a href="#" class="navbar-item has-text-weight-bold has-text-light is-size-4">BLOG</a>
</div>
</nav>

