<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
      <div class="alert alert-danger" role="alert">
          {{status!.error.message}} - {{status!.message}}
      </div>
  </div>
</div>

<div *ngIf="status==null">
  <table class="table table-striped table-hover">
      <tbody>
          <tr>
              <th>Nombre de Empresa</th>
              <td>{{oUser.nombre_empresa}}</td>
          </tr>
          <tr>
              <th>Identificador Empresarial</th>
              <td>{{oUser.identificador_empresarial}}</td>
          </tr>
          <tr>
              <th>Usuario</th>
              <td>{{oUser.username}}</td>
          </tr>
          <tr>
              <th>Cargo</th>
              <td>
                  <span *ngIf="oUser.role==true">Admin</span>
                  <span *ngIf="oUser.role==false">Usuario</span>
              </td>
          </tr>
          <tr>
              <th>pedidos</th>
              <td>
                  <span *ngIf="oUser.pedidos>0">{{oUser.pedidos}}</span>
                  <span *ngIf="oUser.pedidos==0">0</span>
              </td>
          </tr>
      </tbody>
  </table>
</div>